.car {
  text-align: center;
  padding: 0 20px 20px 20px;
  border: 2px dotted #17470a;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  transition: box-shadow 0.3s;
}

.car:hover {
  box-shadow: 0px 5px 5px 0px #2c990e;
  cursor: pointer;
}

.title {
  display: block;
  padding-bottom: 6px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #17470a;
}

.close {
  position: absolute;
  display: inline-block;
  outline: none;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 7px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
  background: transparent;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0px;
  background: #2c990e;
}
.close:before {
  transform: rotate(-45deg);
}
.close:after {
  transform: rotate(45deg);
}
.close:hover {
  transform: rotate(90deg);
}
